<app-navbar></app-navbar>
<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebaar has-background-white-bis">
            <h1 class="title" style="color: steelblue">
                Lists
            </h1>
            <div class="list-menu">
                    <a class="list-menu-item is-active">
                        <p>list 1</p>
                    </a>
                    <a class="list-menu-item">
                        <p>list 1</p>
                    </a>
                    <a class="list-menu-item">
                        <p>list 1</p>
                    </a>
                    <a class="list-menu-item">
                        <p>list 1</p>
                    </a>
                    <a class="list-menu-item">
                            <p>list 1</p>
                    </a>
                    <a class="list-menu-item">
                            <p>list 1</p>
                    </a>
            </div>
        </div>
        <div class="task-list-container has-background-light">
            <h1 class="title" style="color: steelblue">
                Tasks
            </h1>
            <div class="tasks">
                <p>Hey there this is Joan Louji</p>
            </div>
            <div class="tasks">
                    <p>Hey there this is Joan Louji</p>
            </div>
            <div class="tasks">
                    <p>Hey there this is Joan Louji</p>
            </div>
            <div class="tasks">
                    <p>Hey there this is Joan Louji</p>
            </div>
            <div class="tasks">
                    <p>Hey there this is Joan Louji</p>
            </div>
        </div>
      
    </div>
</div>
<div class="bottom-right-corner has-background-light">
        <button class="button is-info is-rounded has-text-white" type="button" (click)="createnewList()" style="border-radius: 100%; height: 70px;width: 70px"><i class="fa fa-plus"></i></button>
</div>
<footer>Deisgned by <a href="www.loujibrotherstest.me">Joan Louji</a></footer>
