<nav class="navbar" role="navigation" aria-label="main navigation" style="border-radius: 40px">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <p style="padding-left: 50px" class="nexdotitle"><span style="color: #4285F4">N</span><span style="color: #0F9D58">E</span><span style="color: #F4B400">X</span><span style="color: #DB4437">D</span><span style="color: #4285F4">O</span></p>
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div class="navbar-menu" >
            <div class="navbar-end" style="margin-right: 50px">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                      <img src="https://icon-library.net/images/member-icon-png/member-icon-png-0.jpg"/>
                    </a>
            
                    <div class="navbar-dropdown">
                      <a class="navbar-item">
                        Account
                      </a>
                      <a class="navbar-item">
                          Contact
                      </a>
                      <a class="navbar-item">
                        Signout
                      </a>
                    </div>
                  </div>
            </div>
          </div>
     
      </nav>